<div class="qrow project_list">

  <% 8.times do |e| %>
  <!-- project unit -->
  <div class="unit">
    <div class="inner">

      <!-- title bar -->
      <div class="qrow title_bar">
        <div class="category">
          <h4>Music</h4>
        </div>
        <div class="project_name">
          <p>One Too Many Mornings</p>
        </div>
      </div><!-- end of title bar -->

      <!-- info_area -->
      <div class="info_area">
        <div class="cover">
          <img src="./img/cover.jpg" alt="" class="img-responsive">
        </div>
      </div><!-- end of info_area -->

      <!-- buttons -->
      <div class="button_set">
        <div class="qrow follow_bar">
          <div class="follow_num">
            <div class="title">
              <p>Follow</p>
            </div>
            <div class="number">
              <p><i class="fa fa-user"></i> <span>199,090</span></p>
            </div>
          </div>
          <div class="button">
            <a href="#"><i class="fa fa-plus"></i></a>
          </div>
        </div>
        <div class="qrow found_bar">
          <div class="founded">
            <div class="title">
              <p>Founded</p>
            </div>
            <div class="amount">
              <p>$ <span>2,002,394</span></p>
            </div>
          </div>
          <div class="button">
            <a href="#">Found</a>
          </div>
        </div>
      </div><!-- end of buttons -->

    </div>
  </div><!-- end of project unit -->

  <% end %>

</div>