/******************************************************************************
 ******************************************************************************
 ** 一般全域設定
 ******************************************************************************
 ******************************************************************************/

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

body {
  background-color: #222;
}

.qrow {
  @include container(320px);

  @include breakpoint(480px) {
    @include container (700px);
  };

  @include breakpoint(960px) {
    @include container (960px);
  };
}